GitPython==3.1.58
urllib3==2.7.0
charset-normalizer==3.4.9
annotated-types==0.8.0
packaging==26.3
python-dateutil==2.9.0.post0
certifi==2026.7.22
click==8.4.2
tzdata==2026.3
platformdirs==4.11.0
requests==2.34.2
pytz==2026.3.post1
pydantic_core==2.46.4
six==1.17.0
smmap==5.0.3
sentry-sdk==2.66.1
PyYAML==6.0.3
pandas==2.3.2
gitdb==4.0.12
numpy==2.5.1
wandb==0.24.0
idna==3.18
typing-inspection==0.4.2
typing_extensions==4.16.0
pydantic==2.13.4
protobuf==6.33.6
pip==24.3.1
